#auth-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  .footer-text {
    width: 26.25rem;
    margin-bottom: 4rem;
    p{
        font-size: 0.875rem;
        color: #212121;
        line-height: 1.344rem;
        font-weight: 400;
        letter-spacing: 0.031rem;
        .term{
            color: #212121;
            text-decoration: underline;
        }
    }
  }
}
