#common-element {
  .custom-input {
    width: 100%;
    padding: 0.688rem 1rem;
    font-size: 1.125rem;
    border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
    /*  &:focus,
    &:hover {
      border: 1px solid #455ece;
    } */
  }

  label {
    font-size: 0.875rem;
    color: #9d9d9d;
    margin-left: 10px;
  }
  .ant-input {
    font-size: 1.125rem;
  }
  .custom-button::placeholder {
    color: #9d9d9d !important;
  }
  .custom-button {
    &:hover {
      background-color: #3d428a;
    }
    padding: 0.969rem 3.166rem;
    border-radius: 0.625rem;
    color: #fff;
    // cursor: pointer;
    background-color: #455ece;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.344rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
    &:hover {
      box-shadow: 0px 1.5px 6px 0px #455ece;
    }
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }

  .page-title {
    font-size: 2.25rem;
    @media (max-width: 768px) {
      font-size: 22px;
    }
    color: #1f295a;
    font-weight: 600;
    line-height: 3.063rem;
    margin-bottom: 0;
  }
}

.ant-input[disabled] {
  background: none !important;
}
